<h2 style ="font-family:Comic Sans MS;color:red">What would you like to order from McDonald's?</h2>

<form action = "/order" method = "post">
	<input type = "checkbox" name = "order[]" value = "Coffee"> Coffee
	<br>
	<input type = "checkbox" name = "order[]" value = "Hash Browns"> Hash Browns
	<br>
	<input type = "checkbox" name = "order[]" value = "Orange Juice"> Orange Juice
	<br>
	<input type = "submit">
</form>


